<!DOCTYPE html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Zero Sheet: Home</title>
        <link rel="stylesheet" href="css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Rock+3D&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <nav>
                <ul>                    
                    <li><a th:href="@{/}">ZeroSheet</a></li>
                    <li><a href="html/contact.html">contact us</a></li>
                    <li><a th:href="@{/registration}">Register</a></li>
                    <li><a th:href="@{/login}">Login</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <img th:src="@{/images/cover.png}" alt="cover-logo" width="80%"/>
            <div>
                <a class="btn btn-secondary" th:href="@{/transaction}" id="another"
                >Calculate your transactions now</a>
            </div>
        </main>
        
        <footer>
        </footer>
    </body>
</html>